.custom-shape {
  clip-path: polygon(0 3%, 3% 0, 100% 0, 100% 96%, 96% 100%, 0 100%);
}
.custom-width {
  width: 96%;
}
.custom-height {
  height: 96%;
}

.bracketImage{
  width: 90%;
  height: 120px;
}

/* .bracketBackground {
  background-image: url('./../../../assets/svg/devfest/PackagesDevfestBrackets.svg');
  background-repeat: no-repeat;
  background-position: center;
  
  height: 150px;
} */
