<div class="bg-iwd-primary lg:pt-16 lg:pb-16 pb-28">
  <div
    id="countdown"
    class="text-center flex items-center justify-center mx-6 text-white"
  >
    <div class="flex">
      <div
        class="sm:text-4xl min-[190px]:text-2xl lg:text-6xl font-bold sm:mx-5 min-[190px]:mx-2"
      >
        <div class="flex flex-col">
          <span id="days">00</span>
          <span class="sm:text-xl  lg:text-3xl">Días</span>
        </div>
      </div>
      <div
        class="sm:text-4xl min-[190px]:text-2xl lg:text-6xl font-bold sm:mx-5 min-[190px]:mx-2"
      >
        <div class="flex flex-col">
          <span id="hours">00</span>
          <span class="sm:text-xl  lg:text-3xl">Horas</span>
        </div>
      </div>
      <div
        class="sm:text-4xl min-[190px]:text-2xl lg:text-6xl font-bold sm:mx-5 min-[190px]:mx-2"
      >
        <div class="flex flex-col">
          <span id="minutes">00</span>
          <span class="sm:text-xl  lg:text-3xl">Minutos</span
          >
        </div>
      </div>
    <div
      class="sm:text-4xl min-[190px]:text-2xl lg:text-6xl font-bold sm:mx-5 min-[190px]:mx-2 hidden min-[640px]:block"
    >
      <div class="flex flex-col">
        <span id="seconds">00</span>
        <span class="sm:text-xl  lg:text-3xl"
        >Segundos</span
        >
      </div>
    </div>
    </div>
  </div>
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const endDate = new Date("2025-03-22T09:00:00").getTime();

    const countdown = () => {
      const now = new Date().getTime();
      const distance = endDate - now;

      const days = Math.floor(distance / (1000 * 60 * 60 * 24));
      const hours = Math.floor(
        (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      );
      const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((distance % (1000 * 60)) / 1000);

      document.getElementById("days").textContent = days;
      document.getElementById("hours").textContent = hours;
      document.getElementById("minutes").textContent = minutes;
      document.getElementById("seconds").textContent = seconds;

      if (distance < 0) {
        clearInterval(interval);
        document.getElementById("countdown").textContent = "EXPIRED";
      }
    };

    const interval = setInterval(countdown, 1000);
    countdown();
  });
</script>
