<section id="Call4Speakers" class="pb-16 pt-16 px-4 bg-iwd-secondary z-10">
    <!-- Encabezado centrado -->
    <h2 class="text-4xl font-bold text-black text-center">
      Sé Speaker en el <strong class="text-iwd-text">International Women’s Day Tarija 2025</strong>
    </h2>
    <p class="text-xl mb-8 max-w-3xl mx-auto mt-2 text-black text-center">
      Comparte tu historia, empodera a la comunidad y redefine lo posible en el mundo tecnológico.
    </p>
    
    <!-- Cards con contenido alineado a la derecha -->
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-5xl mx-auto">
      <div class="p-6 shadow-lg rounded-lg border border-iwd-secondary bg-white ">
        <h3 class="text-xl text-iwd-text font-semibold text-center">
            ¿A quiénes buscamos?
        </h3>
        <p class="mt-2 text-black text-left">
            Mujeres talentosas y apasionadas por la tecnología que inspiren con sus conocimientos y experiencias.
        </p>
      </div>
      <div class="p-6 shadow-lg border border-iwd-secondary rounded-lg  bg-white ">
        <h3 class="text-xl text-iwd-text font-semibold text-center">
            Temáticas de Postulación
        </h3>
        <ul class="mt-2 text-black list-disc list-inside text-left">
          <li><strong>Liderazgo:</strong> Estrategias y herramientas en tech.</li>
          <li><strong>Inspiración:</strong> Relatos que empoderan a mujeres.</li>
          <li><strong>Crecimiento:</strong> Consejos para desarrollo profesional.</li>
          <li><strong>IA y Futuro:</strong> Impacto de la inteligencia artificial.</li>
        </ul>
      </div>
      <div class="p-6 shadow-lg border border-iwd-secondary rounded-lg  bg-white" >
        <h3 class="text-xl text-iwd-text font-semibold text-center">
            Detalles del Evento
        </h3>
        <ul class="mt-2 text-black list-disc list-inside  text-left">
          <li><strong>Fecha:</strong> Sábado 22 de marzo, 2025</li>
          <li><strong>Hora:</strong> 8:30 AM</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Fecha límite:</strong> 28 de febrero, 2025</li>
        </ul>
      </div>
    </div>
    
    <!-- Botón de llamada a la acción -->
    <div class="mt-28 text-center">
      <a class="border-2 rounded-full py-3 px-10 bg-white hover:bg-iwd-text hover:text-white transition-all duration-300 ease-in-out"
         href="https://docs.google.com/forms/d/e/1FAIpQLSf0zCNSddktgU6CLLNrku_MrVtcLA4z0kZbTb82tzz9dpIgdg/viewform">
         ¡Únete y trasciende!
      </a>
    </div>
  </section>
  