---
---

<section class="py-16 px-4 text-center bg-iwd-primary ">
    <h2 class="text-4xl font-bold text-white">
        Sé Speaker en International Women’s Day Tarija 2025
    </h2>
    <p class="text-xl mb-8 max-w-3xl mx-auto mt-2 text-white">
        Comparte tu historia, empodera a la comunidad y redefine lo posible en el mundo tecnológico.
    </p>
    
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-5xl mx-auto">
      <div class="p-6 shadow-lg rounded-lg border border-iwd-secondary">
        <h3 class="text-xl text-white font-semibold">
            ¿A quiénes buscamos?
        </h3>
        <p class="mt-2 text-white ">
            Mujeres talentosas y apasionadas por la tecnología que quieran inspirar a otras compartiendo sus conocimientos, experiencias e historias transformadoras.        </p>
      </div>
      <div class="p-6 shadow-lg border border-iwd-secondary rounded-lg">
        <h3 class="text-xl text-white font-semibold">
            Temáticas de Postulación
                </h3>
        <p class="mt-2 text-white">
            Liderazgo tecnológico: Estrategias, experiencias y herramientas para liderar en la industria tech.
            Inspiración y comunidad: Relatos que motivan y empoderan a más mujeres en tecnología.
            Crecimiento profesional: Habilidades y consejos para impulsar el desarrollo en el sector.
            Inteligencia artificial y futuro digital: Cómo la IA está transformando el mundo y cómo podemos moldear su impacto.        </p>
      </div>
      <div class="p-6 shadow-lg border border-iwd-secondary rounded-lg">
        <h3 class="text-xl text-white font-semibold">
            Detalles del Evento
                </h3>
        <p class="mt-2 text-white">
            Fecha: Sábado 22 de marzo, 2025
            Hora: 8:30 AM
            Modalidad: Presencial
            Fecha límite de postulación: 28 de febrero, 2025
                </p>
      </div>
    </div>
    
    <div class="mt-32">
        <a class="border-2 rounded-full rounded-4xl py-3 px-10 bg-white hover:bg-iwd-primary hover:text-white transition-all duration-300 ease-in-out"
        href="https://docs.google.com/forms/d/e/1FAIpQLSf0zCNSddktgU6CLLNrku_MrVtcLA4z0kZbTb82tzz9dpIgdg/viewform">
        Postúlate</a>
    </div>
  </section>
  