---
import { Image } from "astro:assets";
import Pizarra from "../../../assets/iwd2025/Pizarra.svg";
import Nodos from "../../../assets/iwd2025/Nodos.svg";
import Mujer from "../../../assets/iwd2025/Mujer_Celeste.svg";
import Muebles from "../../../assets/iwd2025/Muebles.svg";

---

<div class="iwd-2025 flex flex-col bg-iwd-secondary m-0 h-screen" id="HeroDevFest">
  <div class="h-[114px] lg:h-[107px] bg-iwd-secondary"></div>

   <div class="w-full  mt-20 md:mt-0">
    <div class="w-auto relative">
        <div class="flex justify-end">
          <Image class="w-auto h-32 md:h-40 lg:h-48 lg:mt-28 lg:absolute 2xl:h-52 2xl:right-32" src={Nodos} alt="fondo" />
        </div>
        <div class="flex justify-center">
          <Image class="  mx-3 w-[90%] object-cover absolute mt-[-22px] lg:mt-36 md:w-[80%] lg:w-[65%]  2xl:w-[50%] " src={Pizarra} alt="fondo" />

        </div>
        <div class=" mt-[-22px]  relative top-10 left-[-8px] md:left-[-6px] w-full h-full flex items-center flex-col gap-7 sm:gap-5 md:mt-5 md:gap-10 lg:mt-48 lg:gap-20 lg:left-[-20px]">
          <div class="justify-center mx-8 sm:mx-16 lg:mt-10">
            <h1 class="text-center font-bold text-4xl md:text-6xl xl:text-7xl 2xl:text-8xl ">Redefine <span class="text-iwd-text">Possible</span></h1>
            <h2 class="text-center text-lg md:text-3xl md:mt-2 xl:text-4xl 2xl:text-5xl  lg:mt-6">International Women's Day 2025 Tarija</h2>
            
          </div>
            <div class="justify-center mx-4">
              <a
              href="https://events.combimauri.com/iwd-tarija-2025"
              class="font-medium md:text-2xl lg:text-4xl rounded-full py-3 px-8 bg-iwd-text  hover:bg-iwd-primary  text-white text-xl duration-300"
            >
                ¡Regístrate aquí!</a>
            </div>
            
        </div>
        <div class="justify-end lg:justify-between flex flex-row items-end mt-32 lg:mt-[-32px] border-b-[120px] md:border-b-[120px] lg:border-b-[10px] border-iwd-primary">
          <Image class="ml-2 w-auto h-32 md:h-48 md:mr-40 lg:h-60 lg:ml-22 2xl:ml-24 " src={Muebles} alt="fondo" />
          <Image class="ml-[-15px] w-auto h-64 md:h-80 lg:h-[410px] 2xl:h-[420px] md:mr-10  z-10 lg:mr-10 2xl:mr-40" src={Mujer} alt="fondo" />
        </div>
      </div>    
  </div>
</div>
