---
import { Image } from "astro:assets";
import BgHero from "../../../assets/devfest2024/svg/fondo.svg";

---
<div class="iwd-2025 flex flex-col bg-iwd-secondary" id="HeroDevFest">
  <div class="w-full">
    <div class=" border-4 lg:border-[5px] border-black sm:h-[640px] h-[600px] w-auto relative sm:m-8 m-2 ">
        <Image class="w-full h-full object-cover absolute" src={BgHero} alt="fondo" />
        <div class="relative top-10 left-0 w-full h-full flex items-center flex-col gap-14 sm:gap-7">
          <div class="justify-center mx-8 sm:mx-16">
          </div>
            <div class="justify-center mx-4">
            </div>
            <div class="justify-center mx-5 sm:mx-16 mt-10 sm:mt-0">

            </div>            
        </div>
      </div>    
  </div>
</div>
