@font-face {
  font-family: "Google Sans";
  src: url(../assets/fonts/GoogleSans/GoogleSans-Regular.ttf) format("truetype")
      font-weight-normal,
    url(../assets/fonts/GoogleSans/GoogleSans-Bold.ttf) format("truetype")
      font-weight-bold,
    url(../assets/fonts/GoogleSans/GoogleSans-Italic.ttf) format("truetype")
      font-style-italic,
    url(../assets/fonts/GoogleSans/GoogleSans-BoldItalic.ttf) format("truetype")
      font-weight-bold font-style-italic,
    url(../assets/fonts/GoogleSans/GoogleSans-Medium.ttf) format("truetype")
      font-weight-500,
    url(../assets/fonts/GoogleSans/GoogleSans-MediumItalic.ttf)
      format("truetype") font-weight-500 font-style-italic;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", sans-serif;
  font-size: 16px;
  line-height: normal;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

@tailwind utilities;

@layer utilities {
  /* Act as a border */
  .card-wrapper {
    @apply relative overflow-hidden rounded-2xl bg-gradient-to-b from-slate-700 to-slate-800;
  }

  /* Gradient */
  .card-wrapper::before {
    background: conic-gradient(
      #34a853 3deg,
      #ea4335 15deg,
      #f9ab00 25deg,
      #4285f4 40deg,
      transparent 60deg
    );

    @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%] animate-border-spin content-[''];
  }

  /* Body */
  .card-content {
    @apply absolute left-[1px] top-[1px] h-[calc(100%-2px)] w-[calc(100%-2px)] rounded-2xl bg-gradient-to-b from-gray-600 to-gray-700;
  }

  .card-content:hover .redes-sociales {
    @apply translate-y-0 opacity-100;
  }

  .card-content:hover .card-items {
    @apply -translate-y-3;
  }
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
