---
import { Image } from "astro:assets";
import BgHero from "./../../assets/devfest2024/svg/fondo.svg";
import msg from "./../../assets/devfest2024/svg/mensaje.svg";
import devfest from "./../../assets/devfest2024/svg/devfest.svg";
import BtnRegistro from "./../../assets/devfest2024/svg/btnRegistrate.svg";
---
<div class="flex flex-col bg-rojo-GDG" id="HeroDevFest">
  <div class="w-full">
    <div class=" border-4 lg:border-[5px] border-black sm:h-[640px] h-[600px] w-auto relative sm:m-8 m-6 ">
        <Image class="w-full h-full object-cover absolute" src={BgHero} alt="fondo" />
        <div class="relative top-10 left-0 w-full h-full flex items-center flex-col gap-14 sm:gap-7">
          <div class="justify-center mx-16">
            <Image class="w-auto h-auto object-cover relative" src={msg} alt="fondo" />
          </div>
            <div class="justify-center mx-4">
              <Image class="w-auto h-auto object-cover relative" src={devfest} alt="fondo" />
            </div>
            <div class="justify-center mx-16">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSddMIHMCz4r3_sQMPRH9HiZYEnuQWHkHYVaWoBH9zKQEkeVqA/viewform">
                    <Image class="w-auto h-auto object-cover relative transition duration-500 hover:scale-110" src={BtnRegistro} alt="fondo" />
                </a>
            </div>            
        </div>
      </div>    
  </div>
</div>
