---
const { titulo, descripcion } = Astro.props;
---

<div class="hidden duration-700 ease-in-out px-20" data-carousel-item>
  <h1 class="text-2xl font-semibold text-center">{titulo}</h1>
  <p class="mt-4">
    {descripcion}
  </p>
</div>
