---
import Footer from "components/footer/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Contact from "components/contact/Contact.astro";
import PackagesDevFest2024 from "components/componentsDevFest2024/packages/packagesDevFest2024.astro";
import NavbarDevFest2024 from "components/componentsDevFest2024/navbar/navbarDevFest2024.astro";
import BuildingDevFest2024 from "components/componentsDevFest2024/building/buildingDevFest2024.astro";
import Cta from "components/componentsDevFest2024/cta.astro";
---

<Layout title="DevFest 2024">
  <NavbarDevFest2024/>
  <div class=" h-[73px]  lg:h-[107px] bg-rojo-GDG"></div>
  <Cta></Cta>
  <PackagesDevFest2024 />
  <BuildingDevFest2024/>
  <Contact />
  <Footer />
</Layout>
