---
import Layout from "../layouts/Layout.astro";
import PackagesDevFest2024 from "components/componentsDevFest2024/packages/packagesDevFest2024.astro";
import NavbarDevFest2024 from "components/componentsDevFest2024/navbar/navbarDevFest2024.astro";
import BuildingDevFest2024 from "components/componentsDevFest2024/building/buildingDevFest2024.astro";import DevFestExplanation from "components/componentsDevFest2024/devFestExplanation/devFestExplanation.astro";
import Cta from "components/componentsDevFest2024/cta.astro";
import SponsorsDevFest from "components/componentsDevFest2024/sponsors/sponsorsDevFest.astro";
---

<Layout title="DevFest 2024">
  <NavbarDevFest2024 />
  <div class="h-[73px] lg:h-[107px] bg-rojo-GDG"></div>
  <Cta />
  <PackagesDevFest2024 />
  <DevFestExplanation />
  <SponsorsDevFest />

</Layout>
