---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/iwd2025/navbar/navbar.astro";
import Cta from "../components/iwd2025/cta/cta.astro";
---

<Layout title="IWD 2025">
    <div class="h-[73px] lg:h-[107px] bg-iwd-secondary"></div>

<Navbar />
<Cta />
</Layout>
