---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/iwd2025/navbar/navbar.astro";
import Cta from "../components/iwd2025/cta/cta.astro";
import Call4Speakers from "components/iwd2025/call4speakers/call4speakers.astro";
import Maps from "components/iwd2025/maps/maps.astro";
import Speakers from "components/iwd2025/speakers/speakers.astro";
import Sponsors from "components/iwd2025/sponsors/sponsors.astro";
---

<Layout title="IWD 2025">
<Navbar />
<Cta />
<div class="py-12 md:py-0  lg:py-32 bg-iwd-secondary"></div>
<Speakers></Speakers>
<Sponsors></Sponsors>
<!-- <Call4Speakers /> -->
<Maps/>
</Layout>
