---
import StatCard from "./StatCard.astro";

const stats = [
  {
    gradientClass: "bg-gradient-to-b from-green-400 to-blue-400",
    borderColorClass: "border-blue-400",
    img: "https://res.cloudinary.com/dopkch3x9/image/upload/v1752287706/Asistentes_cttkp2.png",
    title: "180 Asistentes",
    subtitle: "Capacidad máxima del evento",
  },
  {
    gradientClass: "bg-gradient-to-b from-purple-400 to-blue-400",
    borderColorClass: "border-blue-400",
    img: "https://res.cloudinary.com/dopkch3x9/image/upload/v1752287691/speakers_zukci8.png",
    title: "15 Speakers",
    subtitle: "Expertos nacionales e internacionales",
  },
  {
    gradientClass: "bg-gradient-to-b from-yellow-300 to-pink-400",
    borderColorClass: "border-pink-300",
    img: "https://res.cloudinary.com/dopkch3x9/image/upload/v1752287693/tracks_ujshp6.png",
    title: "2 Tracks",
    subtitle: "Conferencias y talleres simultáneos",
  },
];
---

<section class="py-16 bg-gray-50 border-y-2 border-[#E8EAEB]">
  <div class="max-w-6xl mx-auto px-6">
    <!-- Grid de estadísticas -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        stats.map((stat, index) => (
          <div
            class={`animate-fade-up animate-duration-[1000ms] animate-delay-[${index * 200}ms] animate-ease-out`}
          >
            <StatCard {...stat} />
          </div>
        ))
      }
    </div>
  </div>
</section>
