---
import { Image } from "astro:assets";

import contactos from "./contactos.json";
import ContactoComponent from "./ContactoComponent.astro";

import ImgContact from "../../assets/images/contact_image.png";
---

<div class="container mx-4 sm:m-auto" id="contact">
  <div class="sm:mx-10">
    <h2 class="text-xl sm:text-4xl font-bold mt-4 sm:mt-8 ">
        ¿QUIERES FORMAR PARTE DE LA COMUNIDAD?
      </h2>
      <a href="https://gdg.community.dev/gdg-tarija/">
        <button
          class="py-3 px-7 mt-2 sm:mt-8 bg-blue-500 text-white font-semibold rounded-full shadow-md hover:bg-blue-700"
        >
          Regístrate
        </button>
      </a>
  </div>
  <Image class="h-auto w-full" src={ImgContact} alt="imagen_contacto" />
  <div class="mt-10 text-center">
    <h2 class="text-3xl sm:text-4xl font-bold">Contáctanos</h2>
    <p class="sm:text-base sm:text-xl m-4">
      Estamos aquí para satisfacer cualquier duda que tengas acerca de la
      comunidad GDG Tarija
    </p>
  </div>
  <div class="sm:flex sm:items-center sm:justify-between">
    {contactos.map((contacto) => <ContactoComponent {...contacto} />)}
  </div>
</div>
