.formsBackground--image {
  background-image: none;
 /* Fondo sobrante en rojo */
  background-position: right center; /* Imagen alineada a la derecha */
  background-repeat: no-repeat; /* Evita la repetición */
  background-size: 100%; /* Ancho automático, altura al 100% */
  height: 100%; /* Asegura que el contenedor ocupe toda la altura */
}

@media (min-width: 768px) {
  .formsBackground--image {
    background-image: url('./../../../assets/devfest2024/svg/QueEsDevFestFondo1.svg');
    background-size: auto 100%; /* Ancho automático, altura al 100% */
  }

  .formsBackground--height {
    min-height: 42rem; /* Asegura que el contenedor tenga toda la altura disponible */
  }
}

@media (max-width: 768px) {
  .formsBackground--image {
    background-image: none; 
    min-height: 1px;
    /* Oculta la imagen de fondo */
 /* Fondo sin color */
  }
}


