---
import "./sponsorsDevFest.css";
import { SponsorCard } from "./helpers/SponsorCard";
import { sponsorList } from "./data/sponsorList";
import { collaboratorList } from "./data/collaboratorList";
import CardSponsorPanel from "./helpers/cardSponsorPanelComponent/CardSponsorPanel.astro";
import TitleSponsorComponent from "./helpers/titleSponsorComponent/titleSponsorComponent.astro";

const sponsorCards: SponsorCard[] = sponsorList;
const collaboratorCards: SponsorCard[] = collaboratorList;
---

<div class="bg-rojo-GDG py-8">
  <!-- COLABORADORES -->
  <TitleSponsorComponent title="Colaboradores" color="bg-amarillo-GDG" />
  <CardSponsorPanel cards={collaboratorCards} />

  <!-- SPONSORS -->
  <TitleSponsorComponent title="Sponsors" color="bg-verde-GDG" />
  <CardSponsorPanel cards={sponsorCards} />
</div>
