---
import { Image } from "astro:assets";
import GoogleExtLogo from "../../src/assets/svg/Logo Brack.svg";
import GoogleExtBanner from "../../src/assets/svg/hero.svg";

interface Props {}

const {} = Astro.props;
const mensaje = `Universidad Catolica\n Bolviana Campus Central`;
---

<div class="background--color flex flex-col">
  <div class="w-full mt-40 sm:mt-8 min-[190px]:mt-8">
    <div class="">
      <Image class="m-auto w-10/12 sm:w-1/2" src={GoogleExtLogo} alt="Logo" />
    </div>
    <div
      class="grid lg:grid-cols-2 sm:grid-cols-1 lg:mx-0 min-[190px]:mr-24 place-items-center"
    >
      <div
        class="text-right mt-10 grid grid-cols-2 lg:justify-self-end sm:justify-self-center"
      >
        <div class="mr-5">
          <p>
            <span
              class="material-symbols-outlined lg:text-6xl min-[190px]:text-4xl"
            >
              location_on
            </span>
          </p>
        </div>
        <div>
          <p class="lg:text-xl min-[190px]:text-sm text-left">
            Universidad Catolica
            <br />
            <span class="lg:text-xl min-[190px]:text-xs"
              >Boliviana Campus Central</span
            >
          </p>
        </div>
      </div>

      <div
        class="text-right mt-10 grid grid-cols-2 min-[190px]:ml-4 sm:justify-self-center lg:justify-self-start"
      >
        <div class="mr-5">
          <p>
            <span
              class="material-symbols-outlined lg:text-6xl min-[190px]:text-4xl"
            >
              calendar_clock
            </span>
          </p>
        </div>
        <div>
          <p class="lg:text-xl min-[190px]:text-sm text-left">
            Sabado 20 de Julio
            <br />
            <span class="lg:text-xl min-[190px]:text-sm">9:00 Hrs</span>
          </p>
        </div>
      </div>
    </div>
    <div class="mt-10 flex justify-center">
      <a
        href="https://forms.gle/wCFY8X3k8bvm6v547"
        class="bg-blue-500 text-white px-6 py-2 rounded-full text-lg font-medium hover:bg-blue-600"
        >Registrate Aqui</a
      >
    </div>
    <div class="mt-10 flex justify-center">
      <a
        href="#"
        class="bg-blue-500 text-white px-6 py-2 rounded-full text-lg font-medium hover:bg-blue-600"
        >Paquetes del Evento</a
      >
    </div>
  </div>
  <div class="w-full mt-16">
    <Image
      class="m-auto w-10/12 sm:w-1/2 animate-fade-up animate-duration-[1500ms] animate-ease-in animate-fill-forwards"
      src={GoogleExtBanner}
      alt="Banner"
    />
  </div>
</div>

<style>
  .background--color {
    background: #efefef;
  }
</style>
