---
import { Image } from "astro:assets";
import GoogleExtLogo from "../../src/assets/svg/Logo Brack.svg";
import GoogleExtBanner from "../../src/assets/svg/hero.svg";

interface Props {}

const {} = Astro.props;
---

<div class="background--color flex flex-col">
    <div class="w-full mt-40 sm:mt-8">
        <div class="">
            <Image class="m-auto w-10/12 sm:w-1/2" src={GoogleExtLogo} alt="Logo" />
        </div>
        <div class="text-center mt-14">
            <span class="text-2xl font-bold sm:text-3xl"> !Proximamente! </span>
        </div>
    </div>
    <div class="w-full mt-16">
        <Image class="m-auto w-10/12 sm:w-1/2" src={GoogleExtBanner} alt="Banner" />
    </div>
</div>

<style>
    .background--color {
        background: #EFEFEF;
    }
</style>