---
import { Image } from "astro:assets";
// import Logo from "../assets/images/GDGTarija-Horizontal.png";
// import Logo2 from "../assets/images/GDGTarija-Horizontal2.png";
import Logo from "../assets/svg/LOGO-GDG-TARIJA.svg";
import Logo2 from "../assets/svg/LOGO-GDG-TARIJA-DESKTOP.svg";
---

<header class="bg-Background top-0 start-0 border-b border-Gray-900 w-full">
  <nav class="flex flex-wrap justify-between items-center py-6 px-6 md:px-10">
    <div class="h-12 flex items-center">
      <Image class="w-36 md:hidden" src={Logo} alt="logo" />
      <Image class="w-48 hidden md:flex lg:w-80" src={Logo2} alt="logo2" />
    </div>
    <div
      id="menu-button"
      class="text-Gray-900 text-4xl font-bold md:hidden cursor-pointer"
    >
      &equiv;
    </div>
    <div
      id="menu-open"
      class="items-center text-center w-full hidden md:flex md:w-auto animate-fade-down animate-duration-500"
    >
      <ul
        class="font-medium text-sm lg:text-lg text-Gray-900 bg-Background flex flex-col pt-7 md:flex-row md:pt-0 gap-9 gap-x-5 lg:gap-x-9"
      >
        <li>
          <a href="#about" class="hover:text-gray-500">¿Quiénes Somos?</a>
        </li>
        <li>
          <a href="#sponsors" class="hover:text-gray-500">Sponsors</a>
        </li>
        <li>
          <a href="#events" class="hover:text-gray-500">Eventos</a>
        </li>
        <li>
          <a href="#members" class="hover:text-gray-500">Miembros</a>
        </li>
        <li>
          <a href="#contact" class="hover:text-gray-500">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  const button = document.querySelector("#menu-button");
  const menuOpen = document.querySelector("#menu-open");
  button.addEventListener("click", () => {
    menuOpen.classList.toggle("hidden");
  });

  window.addEventListener("scroll", () => {
    if (!menuOpen.classList.contains("hidden")) {
      menuOpen.classList.add("hidden");
    }
  });
</script>
