---
import members from "./members.json";
import MemberCard from "./MemberCard.astro";
---

<style>
    details > summary {
        list-style: none;
    }
    details > summary::-webkit-details-marker {
        display: none;
    }
</style>
<section id="members" class="content-container mt-8">
    <h2 class="text-3xl font-bold text-center mb-8">Miembros</h2>
    <details>
        <summary>
            <div
                class="m-auto flex items-center justify-center"
            >
                <div
                    class="bg-blue-500 text-white py-2 px-4 rounded-md cursor-pointer hover:scale-105"
                >
                    Ver miembros
                </div>
            </div>
        </summary>

        <section
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 justify-center"
        >
            {
                members.map((member, index) => (
                    <MemberCard id={index} {...member} />
                ))
            }
        </section>
    </details>
</section>
