---
import members from "./members.json";
import MemberCard from "./MemberCard.astro";
---

<section id="members" class="bg-neutral-800 content-container mt-8 p-10 xl:px-20">
  <h2 class="text-3xl font-bold text-center mb-8 text-zinc-100">Miembros</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-16 place-content-center">
    {members.map((member) => <MemberCard {...member} />)}
  </div>
</section>
