---
import { Image } from "astro:assets";
import HorarioAM from "../../assets/svg/HorarioAM.svg";
import HorarioAMSM from "../../assets/svg/HorarioAM-sm.svg";
import HorarioPM from "../../assets/svg/HorarioPM.svg";
import HorarioPMSM from "../../assets/svg/HorarioPM-sm.svg";

import Schedule from "./Schedule.astro";
import trackAM from "./track-am.json";
import trackPM from "./track-pm.json";
---

<div class="flex flex-col bg-Background pt-12" id="diary">
  <div class="m-auto w-10/12">
    <h1
      class="text-center md:text-left text-3xl md:text-4xl lg:text-5xl font-bold text-blue-500 pb-3"
    >
      AGENDA
    </h1>

    <!-- Track mañana -->

    <div class="grid grid-cols-2 md:grid-cols-3">
      <div class="md:hidden col-span-2 place-self-start py-3">
        <Image class="" src={HorarioAMSM} alt="HorarioAM" />
      </div>
      <div class="col-span-2">
        <div class="grid grid-cols-4 gap-2">
          {trackAM.map((speaker) => <Schedule {...speaker} />)}
        </div>
      </div>
      <div class="hidden md:flex items-center place-content-center">
        <div>
          <Image class="w-72" src={HorarioAM} alt="HorarioAM" />
        </div>
      </div>
    </div>

    <!-- Track tarde -->
    <div class="grid grid-cols-2 md:grid-cols-3 pt-12">
      <div
        class="md:hidden col-span-2 justify-self-center place-content-center"
      >
        <Image class="" src={HorarioPMSM} alt="HorarioPM" />
      </div>
      <div class="hidden md:flex items-center place-content-center">
        <div>
          <Image class="w-72" src={HorarioPM} alt="HorarioPM" />
        </div>
      </div>

      <div class="col-span-2">
        <div class="grid grid-cols-4 gap-2">
          {trackPM.map((speaker) => <Schedule {...speaker} />)}
        </div>
      </div>
    </div>
  </div>
</div>
