---
import { Image } from "astro:assets";

import redes_sociales from "./redes_sociales.json";
import RedesSociales from "./RedesSociales.astro";

import ImgGDG from "../../assets/images/gdg_tarija.png";
---

<footer class="container m-auto">
  <hr class="border-gray-200 mx-auto dark:border-gray-700 sm: my-4" />
  <div class="sm:flex sm:items-start sm:justify-between">
    <div class="flex items-center">
      <Image class="h-10 sm:h-12 w-auto mx-3" src={ImgGDG} alt="logo_gdg" />
    </div>
    <div class="flex mt-2 sm:mt-0 sm:justify-center">
      {redes_sociales.map((red_social) => <RedesSociales {...red_social} />)}
    </div>
  </div>
</footer>
