---
import { Image } from "astro:assets";

import redes_sociales from "./redes_sociales.json";
import RedesSociales from "./RedesSociales.astro";

import ImgGDG from "../../assets/svg/LOGO-GDG-TARIJA.svg";
---

<footer class="container m-auto">
  <hr class="border-gray-200 mx-auto dark:border-gray-700 sm:my-4" />
  <div class="flex flex-col items-center sm:flex-row sm:justify-between sm:items-center space-y-4 sm:space-y-0 sm:space-x-4">
    <Image class="mt-3 sm:mt-0 h-6 sm:h-7 w-auto mx-3" src={ImgGDG} alt="logo_gdg" />
    <div class="redes-sociales flex mt-2 sm:mt-0 sm:justify-center">
      {redes_sociales.map((red_social) => <RedesSociales {...red_social} />)}
    </div>
  </div>
</footer>
