---
import { Image } from "astro:assets";
const { red_social, url, logo } = Astro.props;

import ImgFacebook from "../../assets/images/facebook.png"
import ImgInstagram from "../../assets/images/instagram.png"
import ImgLinkedIn from "../../assets/images/linkedin.png"
import ImgYouTube from "../../assets/images/youtube.png"

const imagenes = {
    facebook: ImgFacebook,
    instagram: ImgInstagram,
    linkedin: ImgLinkedIn,
    youtube: ImgYouTube
}
---

<a href={url} class="mx-1">
    <Image src={imagenes[logo]} class="h-12 w-auto" alt={red_social}  />
</a>
