---
export interface Props {
  tutorial: {
    slug: string;
    secciones: {
      id: string;
      titulo: string;
    }[];
  };
  activeSection?: string;
}

const { tutorial, activeSection } = Astro.props;
---

<aside
  class="md:w-72 w-full md:h-screen sticky top-0 border-r bg-white px-6 py-8 shadow-sm z-10"
>
  <h2 class="text-xl font-semibold text-gray-800 mb-6">Contenido del curso</h2>
  <ul class="space-y-3">
    {
      tutorial.secciones.map((sec) => (
        <li>
          <a
            href={`/tutorial/${tutorial.slug}/${sec.id}`}
            class={`block px-3 py-2 rounded-md transition ${
              activeSection === sec.id
                ? "bg-blue-100 text-blue-700 font-medium"
                : "text-gray-700 hover:bg-blue-50 hover:text-blue-600"
            }`}
          >
            {sec.titulo}
          </a>
        </li>
      ))
    }
  </ul>
</aside>
