<section id="Lugar" class="pb-16 pt-16 px-4 bg-iwd-primary z-10">
  <h2 class="text-4xl font-bold text-white text-center mb-8">Lugar del Evento</h2>
  <div class="relative w-full max-w-4xl mx-auto rounded-lg shadow-lg overflow-hidden h-96 border-2 border-iwd-primary bg-white mt-6">
    <iframe 
      class="absolute top-0 left-0 w-full h-full p-4"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5606.902028369493!2d-64.73686281757469!3d-21.53092036403798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x940649000134fa4b%3A0x1f20ba7823a0a982!2sUniversidad%20Uni%C3%B3n%20Bolivariana%20Sede%20Tarija!5e1!3m2!1ses-419!2sbo!4v1740079463756!5m2!1ses-419!2sbo"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      title="Mapa de ubicación del evento: Universidad Union Boliviariana"

    ></iframe>
  </div>
  <p class="text-white text-center text-lg mt-2">Universidad Unión Bolivariana</p>
</section>
