.packageCard {
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.packageCard--green,
.packageCard--blue {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.packageCard--green {
  background-image: url('./../../../../assets/devfest2024/svg/CuadroVerdeMobile.svg');
}

.packageCard--blue {
  background-image: url('./../../../../assets/devfest2024/svg/CuadroAzulMobile.svg');
}

@media (min-width: 640px) {
  .packageCard--green {
    background-image: url('./../../../../assets/devfest2024/svg/CuadroVerde.svg');
  }

  .packageCard--blue {
    background-image: url('./../../../../assets/devfest2024/svg/CuadroAzul.svg');
  }
}