---
import sponsors from 'components/Sponsors/Sponsors.json'
---

<section id="sponsors" class="content-container mt-8">
  <h2 class="text-3xl text-center mb-10 font-bold">Sponsors y Colaboradores</h2>
  <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-9 justify-items-center">
    {sponsors.map((sponsor) => (
      <a
        href={sponsor.link}
        target="_blank"
        rel="noreferrer"
        class="block transform transition-transform duration-300 hover:scale-110">
        <div 
          class="w-40 h-40 md:w-40 md:h-40 lg:w-56 lg:h-56 rounded-lg overflow-hidden flex items-center justify-center bg-white shadow-md relative">
          <img 
            src={sponsor.src} 
            alt={sponsor.title} 
            class="object-contain w-48 h-48"
            title={sponsor.title}/>
        </div>
      </a>
    ))}
  </div>
</section>
